# Version of Certbot you want to use to generate and renew
# TLS certificates.
# See: https://github.com/certbot/certbot
CERTBOT_VERSION=1.0.0

# Whether or not to run the server in development mode.
# Options: DEVELOPMENT = yes|no
DEVELOPMENT=yes

# Name of the webserver you're running. Used to determine
# what TLS certificates you should generate.
SERVER_NAME=

# Hostname that the webserver is running on. Used by the
# Nginx proxy to determine the upstream server from which
# to serve the site. If you're using docker-compose, this
# should probably be set to "webserver".
SITE_SERVER=

#--------------------------------------------------
# Django params
#--------------------------------------------------

# Secret key used by Django for generating hashes. Should
# be a random value.
DJANGO_SECRET_KEY=

# List of allowed hostnames/IP addresses with which it should be
# possible to access the server. Should be in the format
#
#       ALLOWED_HOSTS=$hostname_1,$hostname_2,...
#
ALLOWED_HOSTS=localhost

#--------------------------------------------------
# Database params
#--------------------------------------------------

# Database engine to use
# Options: sqlite3|mysql|postgres
DATABASE_ENGINE=sqlite3

# Parameters to pass to a MariaDB container on startup.
# Only applicable if DATABASE_ENGINE=mysql
# See: hub.docker.com/_/mariadb
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=tecdb
MYSQL_USER=tec
MYSQL_PASSWORD=

# Parameters to pass to a Postgres container on startup.
# Only applicable if DATABASE_ENGINE=postgres.
# See: https://hub.docker.com/_/postgres/
POSTGRES_PASSWORD=
POSTGRES_USER=tec
POSTGRES_DB=tecdb

# Host that the database is located at. If you're using
# docker-compose then this should probably be set to
# "tec-database".
DATABASE_HOST=tec-database

#--------------------------------------------------
# Proxy params
#--------------------------------------------------

# REDIRECT_HTTP_TO_HTTPS = no|yes|301|302
#
# Whether or not to redirect HTTP traffic to HTTPS.
#
# If "no" is selected, then the Nginx proxy will serve the site over HTTP on
# port 80. If "yes" or "302" is selected, then it will 302 (temporary) redirect
# traffic to port 443. If "301" is selected, it will 301 (permanent) redirect
# traffic to port 443. Only select "301" if you're sure that you don't want to
# make the site accessible over HTTP in the future.
REDIRECT_HTTP_TO_HTTPS="no"

#--------------------------------------------------
# Email params
#--------------------------------------------------

EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=587
EMAIL_USE_TLS=1
