{% extends "dashboard_base.html" %}

{% block title %}Invite new user | {{ block.super }}{% endblock %}
{% block page_header %}Add a new research user to the site{% endblock %}

{% block contents %}
{% load static %}
{{ block.super }}
<form method="POST" class="uk-form">
  {% csrf_token %}

  {% if created_user %}
  <span class="d-flex justify-content-center">
    <div class="alert alert-success mx-auto">
      Your invite was sent!
    </div>
  </span>
  {% endif %}

  {% if form.non_field_errors %}
  <div class="uk-alert uk-alert-danger" role="alert">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  <fieldset>

    {% for field in form %}
    <div class="uk-form-row">
      {{ field }}
    </div>
    {% include "includes/field_errors.html" with errors=field.errors only %}
    {% endfor %}

  </fieldset>
  <button id="new_user_submit_button" class="uk-button" type="submit" name="create_user">
    Add new user
  </button>
  </div>
</form>

<div class="uk-container">
  <form class="uk-form" method="POST">
    {% csrf_token %}
    {# Display all of the invites that haven't been accepted yet #}
    <h2 class="text-center display-5 mb-4">Outstanding invites</h2>

    <table class="uk-table">
      <tbody>
        {% for token in outstanding_tokens %}
        <tr>
          <td class="uk-width-1-10"><button class="uk-close"></button></td>
          <td class="uk-width-9-10"><p>{{ token.email }}</p></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</div>
{% endblock %}
