{% extends "dashboard_base.html" %}

{% block title %}Articles | {{ block.super }}{% endblock %}

{% block body %}

{% load static %}
<div class="uk-grid uk-margin-top uk-margin-bottom">
  <div class="uk-width-1-1">
    <div class="uk-container uk-container-center uk-section-muted uk-align-center">
    <article class="uk-article uk-padding-small">

      <h2 class="uk-article-title uk-text-bold">
        {{ article.title }}
      </h2>

      {% if article.year %}
      <div>
        <span class="uk-text-bold uk-text-emphasis">Published:</span>
        {% if article.day %}{{ article.day }}{% endif %}
        {% if article.month %}{{ article.month_name }}{% endif %}
        {{ article.year }}
      </div>
      {% endif %}

      {% if article.publisher_text %}
      <div>
        <span class="uk-text-break">
          <span class="uk-text-bold uk-text-emphasis">Published in:</span> {{ article.publisher_text }}
        </span>
      </div>
      {% endif %}

      {% with authors=article.all_authors %}
      {% if authors %}
      <div>
        <span class="uk-text-break">
          <span class="uk-text-bold uk-text-emphasis">Authors:</span> {{ authors }}
        </span>
      </div>
      {% endif %}
      {% endwith %}

      {% with tags=article.tags.all %}
      {% if tags %}
      <div>
        <span class="uk-text-bold uk-text-emphasis">Tags:</span>
        {% for tag in tags %}
        {{ tag.tagname }}
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      {% if article.abstract %}
      <div class="uk-margin-medium">
        <span class="uk-text-break">
          <span class="uk-text-bold">Abstract:</span>
          <br>
          {{ article.abstract }}
        </span>
      </div>
      {% endif %}

      {% if article.url %}
      <div>
        <span class="uk-text-break">
          <span class="uk-text-bold">URL:</span> <a href="{{ article.url }}" target="_blank" rel="noopener noreferrer"> {{ article.url }}</a>
        </span>
      </div>
      {% endif %}

    </article>
  </div>
  </div>

</div>
{% endblock %}
