{% extends "dashboard_base.html" %}

{% block title %}Dashboard | {{ block.super }}{% endblock %}
{% block page_header %}Hello {{ user.username|title }}!{% endblock %}

{% block contents %}

{{ block.super }}
{% load static %}
<div class="container mx-md-n5">
  <div class="row">
    {# Button to add new compendium entries #}
    <div class="col px-md-5">
      <a id="new_article_link" href="{% url 'research new article' %}">
        <button class="btn btn-primary">
          <div class="my-1">
            <img class="action-icon mr-1" src="{% static 'svg/add.svg' %}">
            Add new compendium entry
          </div>
        </button>
      </a>
    </div>


    {# Button to add new tags #}
    <div class="col px-md-5">
      <a id="new_tag_link" href="{% url 'research add tag' %}">
        <button class="btn btn-primary">
          <div class="my-1">
            <img class="action-icon mr-1" src="{% static 'svg/add.svg' %}">
            Add new tag
          </div>
        </button>
      </a>
    </div>

    {% if request.user.is_staff %}
    <div class="col px-md-5">
      <a id="invite_user_button" href="{% url 'add new user' %}">
        <button class="btn btn-primary">
          <div class="my-1">
            <img class="action-icon mr-1" src="{% static 'svg/add.svg' %}">
            Invite a new user
          </div>
        </button>
      </a>
    </div>
    {% endif %}

  </div>
  <div class="container px-md-10 py-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">URL</th>
          <th scope="col">Tags</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
          {% for entry in entries %}
          <tr>
              <th scope="row">{{ entry.id }}</th>
              <td>{{ entry.title }}</td>
              <td>
                {% if entry.url %}
                <a href="{{ entry.url }}">
                  {{ entry.url }}
                </a>
                {% endif %}
              </td>
              <td>{{ entry.tags }}</td>
              <td>{{ entry.owner }}</td>
          </tr>
          {%endfor%}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
