{% extends "base.html" %}

{% block title %}Login | {{ block.super }}{% endblock %}

{% block body %}
<div class="container justify-content-md-center my-4">
  <form method="POST">
    <div class="container auth-form">
      {% csrf_token %}

      <h2 class="text-center display-5 mb-4">
        Login
      </h2>

      {% for field in form %}
      <div class="form-group">
        {{ field }}
      </div>
      {% endfor %}
      <div class="text-center">
        <button class="btn btn-primary" type="submit">
          Log in
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
