{% extends "dashboard_base.html" %}

{% block title %}My entries | {{ block.super }}{% endblock %}

{% block body %}

{% load static %}
<div class="d-flex">
  <div class="container m-2">
    <div class="list-group">
      <a id="add-new-entry" href="{% url 'research new article' %}" class="list-group-item list-group-item-action">
        Add new compendium entry
      </a>
    </div>
    <div class="list-group">
      <a id="edit-entry" href="{% url 'list my entries' %}" class="list-group-item list-group-item-action">
        Edit/Delete my compendium entry
      </a>
    </div>
  </div>
</div>
{% endblock %}
