{% extends "dashboard_base.html" %}

{% block title %}New entry | {{ block.super }}{% endblock %}
{% block page_header %}
{% if edit is True %}
  Edit compendium entry
{% else %}
  New compendium entry
{% endif %}
{% endblock %}

{% block contents %}
{{ block.super }}
<form class="uk-panel uk-panel-box uk-form" method="POST">
  {% csrf_token %}

  <div class="uk-margin-bottom">
    <fieldset class="uk-margin-bottom">
      {% for field in form %}
      <h2 class="uk-h2 uk-text-bold">{{ field.label }}</h2>
      {% if field.help_text %}
      <p class="uk-text-break">{{ field.help_text }}</p>
      {% endif %}
      {{ field }}
      {% endfor %}
      <input type="text" id="number-of-authors" name="number-of-authors" value="">Number of authors: (max. 10)<br />
      <a href="#" id="filldetails" onclick="addFields()">Fill Details</a>
      <div id="container"/>
    </fieldset>
  </div>

  <script>
    function addFields(){
            var number = document.getElementById("number-of-authors").value;
            var container = document.getElementById("container");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){
                container.appendChild(document.createTextNode("Author " + (i+1)));
                var input = document.createElement("input");
                input.type = "text";
                input.name = "authors";
                container.appendChild(input);
                container.appendChild(document.createElement("br"));
            }
        }
  </script>

  <button id="entry-submit-button" class="uk-button uk-margin-top" type="submit">
    {% if edit is True %}
    Edit entry
    {% else %}
    Add entry
    {% endif %}
  </button>
</form>
{% endblock %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'css/components/htmleditor.min.css' %}">
{% endblock %}

{% block javascripts %}
{{ block.super }}
{% load static %}
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/mode/markdown/markdown.js' %}"></script>
<script src="{% static 'codemirror/addon/mode/overlay.js' %}"></script>
<script src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
<script src="{% static 'codemirror/mode/gfm/gfm.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{% static 'js/components/htmleditor.min.js' %}"></script>
{% endblock %}
