{% extends "dashboard_base.html" %}

{% block title %}New tag | {{ block.super }}{% endblock %}
{% block page_header %}Add a new tag{% endblock %}

{% block contents %}
{{ block.super }}
<form class="uk-width-1-3" method="POST">
  {% csrf_token %}

  {% if success %}
  <span class="uk-alert uk-alert-success" role="alert">
    Successfully created new tag
  </span>
  {% endif %}

  {% if form.non_field_errors %}
  <span class="uk-alert uk-alert-danger" role="alert">
    {{ form.non_field_errors }}
  </span>
  {% endif %}

  {% for field in form %}
    {% include 'includes/generic_form_field.html' with field=field %}
  {% endfor %}

  <button id="tag-submit-button" class="uk-margin-top uk-button uk-button-primary" type="submit">
    Add new tag
  </button>
</form>

<br class="sep">

<div class="uk-container uk-width-1-2@l uk-text-center uk-margin-bottom">
  <h2 class="uk-h2 uk-text-bold">
    Current tags
  </h2>
  <hr class="uk-margin-bottom">
</div>

<form method="POST">
  {% csrf_token %}

  {# Display all of the tags that already exist #}
  <div class="uk-grid uk-grid-small uk-grid-row-small" uk-grid>
    {% for tag in tags %}
    <div>
      <div class="uk-card uk-card-secondary uk-card-body uk-card-small">
        {{ tag.tagname }}
        <a href="#kill-tag-{{ tag.id }}">
          <span class="uk-margin-left uk-text-danger" uk-icon="icon:close"></span>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</form>

<br class="sep">

{% endblock %}
