{% extends "dashboard_base.html" %}

{% block title %}New entry | {{ block.super }}{% endblock %}
{% block page_header %}
{% if edit %}
  Edit compendium entry
{% else %}
  New compendium entry
{% endif %}
{% endblock %}

{% block contents %}
{{ block.super }}

{% comment %}
If we're just editing an entry, we should display only the form for editing the
entry. Otherwise, we should display two forms: one for creating an entry through
the edit form, and another that allows you to display the form.
{% endcomment %}

<div class="uk-container">
{% if edit %}

  <form class="uk-margin-top" method="POST">
    {% csrf_token %}
    {% include "form_templates/compendium_entry_edit_form.html" with form=form edit=edit num_of_authors=num_of_authors only %}
  </form>

{% else %}

  <ul class="uk-tab" uk-tab="{connect:'#upload_form'}">
    <li {% if manual_entry_active %}class="uk-active"{% endif %}>
      <a href="#">Enter manually</a>
    </li>
    <li {% if bibtex_upload_active %}class="uk-active"{% endif %}>
      <a href="#">Upload BibTeX</a>
    </li>
    <li {% if json_upload_active %}class="uk-active"{% endif %}>
      <a href="#">Upload JSON</a>
    </li>
  </ul>

  <ul id="upload_form" class="uk-list uk-switcher">
    <li>
      <form class="uk-margin-top" method="POST">
        {% csrf_token %}
        {% include "form_templates/compendium_entry_edit_form.html" with form=new_entry_form edit=edit only %}
      </form>
    </li>
    <li>
      <form enctype="multipart/form-data" class="uk-margin-top" method="POST">
        {% csrf_token %}
        {% include "form_templates/bibtex_upload_form.html" with form=bibtex_form only %}
      </form>
    </li>
    <li>
       <form enctype="multipart/form-data" class="uk-margin-top" method="POST">
        {% csrf_token %}
        {% include "form_templates/json_upload_form.html" with form=json_form only %}
      </form>
    </li>
  </ul>
{% endif %}
</div>

<br>
{% endblock %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'css/components/htmleditor.min.css' %}">
{% endblock %}

{% block javascripts %}
{{ block.super }}
{% load static %}
<script type="text/javascript">
function addFields(edit=false){
  var number = document.getElementById("number-of-authors").value;
  console.log("{{ authors }}".replace(/&quot;/g,'"'));
  if (edit){
          var authors_array = JSON.parse("{{ authors }}".replace(/&quot;/g,'"'));
  }
  if (number <= 20) {
    var container = document.getElementById("container");
    while (container.hasChildNodes()) {
        container.removeChild(container.lastChild);
    }
    for (i=0;i<number;i++){
        container.appendChild(document.createTextNode("Author " + (i+1)));
        var input = document.createElement("input");
        input.type = "text";
        input.name = "authors_text";
        if (edit){
          input.value = authors_array[i];
        }
        container.appendChild(input);
        container.appendChild(document.createElement("br"));
    }
  }
}
</script>
{% endblock %}
