{% extends "dashboard_base.html" %}

{% block title %}Settings | {{ block.super }}{% endblock %}

{% block body %}

{% include "includes/navbar.html" %}
{% load static %}
<div class="uk-container uk-grid">

  <ul class="uk-tab uk-tab-left uk-width-medium-1-2" data-uk-tab="{connect: '#settings_switcher'}">
      <li class="" aria-expanded="false"><a href="#">Password</a></li>
      <li class="" aria-expanded="false"><a href="#">Item</a></li>
  </ul>

  <ul id="settings_switcher" class="uk-switcher uk-margin">
    <li>
      <a id="change-password-link" href="{% url 'research change password' %}" class="list-group-item list-group-item-action">
        Change password
      </a>
    </li>
    <li>Hello, world!</li>
  </ul>

</div>
{% endblock %}
