{% extends "dashboard_base.html" %}

{% block title %}Settings | {{ block.super }}{% endblock %}

{% block body %}

{% load static %}
<div class="uk-container uk-grid">

  <ul class="uk-tab uk-tab-left uk-width-medium-1-2" data-uk-tab="{connect: '#settings_switcher'}">
      <li class="" aria-expanded="false"><a id="change-password-link" href="#">Password</a></li>
      <li class="" aria-expanded="false"><a href="#">Item</a></li>
  </ul>

  <ul id="settings_switcher" class="uk-switcher uk-margin-left">
    <li>
      {% include 'includes/password_change_form.html' with form=passchange_form %}
    </li>
    <li></li>
  </ul>

</div>
{% endblock %}
