/* Custom CSS for the site */

html {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.auth-form {
  max-width: 500px;
}

.signup-form {
  max-width: 700px;
}

.action-icon {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
}

.tagname {
  font-family: monospace, courier, sans-serif;
}

/*****************************
 * CSS for navigation bars
 *****************************/
.site-navbar {
}
