/* Custom CSS for the site */

html {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.auth-form {
  max-width: 500px;
}

.signup-form {
  max-width: 700px;
}

.form-error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 768px;
  display: inline-block;
}

.action-icon {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
}

/*****************************
 * CSS for dashboard sidebar
 *****************************/
.sidebar-wrapper {
  background-color: #888888;
  min-height: 100vh;
  max-width: 30vw;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.5rem;
}

/*****************************
 * CSS for navigation bars
 *****************************/
.nav-button {
  border-color: black;
  border-width: 0.5px;
}
