/* Custom CSS for the site */

html, body {
  font-family: "Roboto", Arial, sans-serif !important;
  height: 100%;
  margin: 0;
}

body {
  display:flex;
  flex-direction:column;
}

footer {
  margin-top:auto;
}

.content {
  min-width: 80%;
}

.action-icon {
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
}

.monospace {
  font-family: monospace, courier, sans-serif !important;
}

.uk-tab li a {
  color: #444;
}

.uk-tab li a:hover {
  color: #444;
}

br.sep {
  margin-top: 2em;
}

/****************************
 * CSS for tags
 ****************************/

.selected-tag {
  background-color: #222 !important;
  color: #fff !important;
}

/****************************
 * CSS for auth-related components
 ****************************/

.auth-form {
  max-width: 500px;
}

.signup-form {
  max-width: 700px;
}

/****************************
 * CSS for search-related components
 ****************************/

.paginator {
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: 1em;
}
