{% comment %}
A form for uploading compendium entries as BibTeX
{% endcomment %}

{% if form.non_field_errors %}
<div class="uk-alert uk-alert-danger" role="alert">
  {{ form.non_field_errors }}
</div>
{% endif %}

<div class="uk-width-1-2">
  <h2 class="uk-h2">
    Upload a BibTeX file
  </h2>

  {% if form.bibtex_file.errors %}
  <div class="uk-alert uk-alert-danger" role="alert">
    {{ form.bibtex_file.errors }}
  </div>
  {% endif %}

  {{ form.bibtex_file }}
</div>

<div class="uk-margin-top"></div>

<button type="submit" class="uk-button uk-button-primary" name="bibtex-upload">
  Submit
</button>
