{% comment %}
Form for creating new compendium entries, and for editing them.
{% endcomment %}

{% if form.non_field_errors or form.errors %}
<div class="uk-alert uk-alert-danger" role="alert">
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% else %}
    {% if edit %}
      Some errors were detected while trying to edit the entry.
    {% else %}
      Some errors were detected while trying to upload the new entry.
    {% endif %}
  {% endif %}
</div>
{% endif %}

<div class="uk-margin-bottom">
  <p>
    <span class="uk-text-danger">*</span> = required field
  </p>

  <fieldset class="uk-margin-bottom">
    {% include 'includes/generic_form_field.html' with field=form.title %}

    {# -- START DATE SELECTOR WIDGET -- #}
    {% comment %}
    Construct the date selector widget manually
    {% endcomment %}

    {% with label="Publication date" %}
    {% with help_text="Date the entry was published." %}
      {% include 'includes/generic_form_field_header.html' with label=label help_text=help_text only %}
    {% endwith %}
    {% endwith %}

    {% include 'includes/generic_form_field_errors.html' with errors=form.day.errors only %}
    {% include 'includes/generic_form_field_errors.html' with errors=form.month.errors only %}
    {% include 'includes/generic_form_field_errors.html' with errors=form.year.errors only %}

    {{ form.day }}
    {{ form.month }}
    {{ form.year }}

    {# -- END DATE SELECTOR WIDGET -- #}

    {% include 'includes/generic_form_field.html' with field=form.abstract %}
    {% include 'includes/generic_form_field.html' with field=form.publisher_text %}
    {% include 'includes/generic_form_field.html' with field=form.url %}
    {% include 'includes/generic_form_field.html' with field=form.tags %}

    {% if edit is True %}
      <section class="uk-margin-top" id="author-input">
        <h2 class="uk-h2 uk-text-bold">Authors</h2>
        <input type="text" id="number-of-authors" name="number-of-authors" value="{{ num_of_authors }}">   Number of authors: (max. 20)<br />
        <a href="#author-input" id="filldetails" onclick="addFields(true)">Edit Authors</a>
        <div id="container"/>
      </section>
    {% else %}
      <section class="uk-margin-top" id="author-input">
        <h2 class="uk-h2 uk-text-bold">Authors</h2>
        <input type="text" id="number-of-authors" name="number-of-authors" value="">   Number of authors: (max. 20)<br />
        <a href="#author-input" id="filldetails" onclick="addFields()">Fill Details</a>
        <div id="container"/>
      </section>
    {% endif %}
  </fieldset>
</div>

<button id="entry-submit-button" class="uk-button uk-margin-top" type="submit" name="edit-entry">
  {% if edit is True %}
  Edit entry
  {% else %}
  Add entry
  {% endif %}
</button>
