{% comment %}
Template for a custom TextInput widget with an icon prepended to the
input field.
{% endcomment %}

{% if widget.icon_name %}
<div class="uk-inline">
  <span class="uk-form-icon" uk-icon="icon:{{ widget.icon_name }}"></span>
  <input type="text" name="{{ widget.name }}" {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %} {% include "django/forms/widgets/attrs.html" %}>
</div>
{% else %}
{# Fall back to the default Django TextInput template #}
{% include "django/forms/widgets/text.html" %}
{% endif %}
