{% comment %}
A template for displaying a brief summary of a compendium entry.
{% endcomment %}

<h2 class="uk-h2 uk-text-bold">
  {{ entry.title }}
</h2>

{% with authors=entry.all_authors %}
{% if authors %}
<div>
  <span class="uk-text-break">
    <span class="uk-text-bold">Authors:</span> {{ authors }}
  </span>
</div>
{% endif %}
{% endwith %}

{% if entry.year %}
<div>
  <span class="uk-text-bold">Published:</span>
  {% if entry.day %}{{ entry.day }}{% endif %}
  {% if entry.month %}{{ entry.month_name }}{% endif %}
  {{ entry.year }}
</div>
{% endif %}

{% if entry.publisher_text %}
<div>
  <span class="uk-text-break">
    <span class="uk-text-bold">Published in:</span> {{ entry.publisher_text }}
  </span>
</div>
{% endif %}

{% if entry.abstract %}
<div>
  <span class="uk-text-break">
    <span class="uk-text-bold">Abstract:</span> {{ entry.abstract }}
  </span>
</div>
{% endif %}

{% with tags=entry.tags.all %}
{% if tags %}
<div>
  <span class="uk-text-bold">Tags:</span>
  {% for tag in tags %}
  {{ tag.tagname }}
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<a href="#">See more</a>
