{% comment %}
A template for displaying a brief summary of a compendium entry.
{% endcomment %}

<h3 class="uk-h3 uk-text-bold">
  {{ entry.title }}
</h3>

{% with authors=entry.authors.all %}
{% if authors %}
<p>
  <span class="uk-text-bold">Authors:</span>
  {% for author in authors %}
  {{ author.authorname }},
  {% endfor %}
</p>
{% endif %}
{% endwith %}

<p class="uk-text-break">{{ entry.abstract }}</p>

{% with tags=entry.tags.all %}
{% if tags %}
<p>
  <span class="uk-text-bold">Tags:</span>
  {% for tag in tags %}
  {{ tag.tagname }},
  {% endfor %}
</p>
{% endif %}
{% endwith %}
