{% comment %}
A site-wide footer with credits, contact information, etc.
{% endcomment %}

{% comment %}
Add some padding between the footer and the element above it
{% endcomment %}

<div class="uk-margin-top"></div>

<footer class="uk-block uk-block-secondary uk-contrast uk-text-break">
  <div class="uk-container-center uk-width-small-8-10">
    <div class="uk-grid uk-grid-divider">
      <div class="uk-width-4-10">
        <p>
          The Encryption Compendium is sponsored by
          <a href="https://siliconflatirons.org">Silicon Flatirons</a>,
          <a href="https://colorado.edu">the University of Colorado Boulder</a>, and
          <a href="https://facebook.com">Facebook</a>.
        </p>
      </div>

      <div class="uk-width-3-10">
        <ul class="uk-list">
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
        </ul>
      </div>

      <div class="uk-width-3-10">
        <ul class="uk-list">
          <li>
            <a href="https://github.com/The-Encryption-Compendium/the-encryption-compendium">
              <i class="uk-icon-github"></i> GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
