{% comment %}
Navigation bar across the top of the site for the researcher view.
{% endcomment %}

<nav class="uk-navbar uk-navbar-attached" id="navbar">
  {# Left part of navbar #}
  <a class="uk-navbar-brand" href="{% url 'research dashboard' %}">
    The Encryption Compendium
  </a>

  <div class="uk-navbar-content uk-hidden-small">
    <form class="uk-form uk-margin-remove uk-display-inline-block">
      <input type="text" placeholder="Search...">
      <button class="uk-button uk-button-primary uk-margin-left">Submit</button>
    </form>
  </div>

  {# Right part of navbar #}
  <div class="uk-navbar-flip">
    <ul class="uk-navbar-nav">

      {# Navbar widget if the user is logged in #}
      {% if request.user.is_authenticated %}
      <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <a id="user-profile-dropdown-button" href="#">
          {{ user.username }} <i class="uk-icon-caret-down"></i>
        </a>
        <div id="user-settings-dropdown-menu" class="uk-dropdown uk-dropdown-navbar uk-dropdown-top">
          <ul class="uk-nav uk-nav-dropdown">
            <li>
              <a href="{% url 'research dashboard' %}">Home</a>
            </li>
            <li>
              <a href="{% url 'research profile' %}">Profile</a>
            </li>
            <li>
              <a href="{% url 'research settings' %}" id="user-settings">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" id="my-entries" href="{% url 'research my entries' %}">My entries</a>
            </li>
            <li>
              <a href="{% url 'research logout' %}" id="logout-button">Logout</a>
            </li>
          </ul>
        </div>
      </li>

      {# Navbar widget if the user is not logged in #}
      {% else %}
      <li>
        <a id="user-login-button" href="{% url 'research login' %}">
          Login
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
