{% comment %}
Navigation bar across the top of the site for the researcher view.
{% endcomment %}

<nav class="site-navbar uk-navbar uk-navbar-container" id="navbar" uk-navbar="">
  {# Link back to landing page #}
  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a href="{% url 'landing page' %}">
          The Encryption Compendium
        </a>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">

      {# Navbar widget if the user is logged in #}
      {% if request.user.is_authenticated %}
      <li>
        <a href="#">{{ user.username }}</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>
              <a href="{% url 'research dashboard' %}">Dashboard</a>
            </li>
            <li>
              <a href="{% url 'research profile' %}">Profile</a>
            </li>
            <li>
              <a href="{% url 'research settings' %}" id="user-settings">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" id="my-entries" href="{% url 'research my entries' %}">My entries</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
              <a href="{% url 'research logout' %}" id="logout-button">Logout</a>
            </li>
          </ul>
        </div>
      </li>

      {# Navbar widget if the user is not logged in #}
      {% else %}
      <li>
        <a id="user-login-button" href="{% url 'research login' %}">
          Login
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
