{% comment %}
A generic password change form for the site.
{% endcomment %}

<form method="POST">
  <div class="uk-container uk-width-1-2@s">
    {% csrf_token %}

    <h2 class="text-center">
      Change Password
    </h2>

    {% if form.non_field_errors or form_errors %}
    <div class="form-error alert alert-danger" role="alert">
      {% if form.non_field_errors|length == 1 %}

      <div class="text-left">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
      </div>

      {% endif %}

      {% if form_errors %}
      <div class="text-left">
          {{ form_errors }}
      </div>
      {% endif %}

    </div>
    {% endif %}

    {% for field in form %}
    <div class="uk-form-row">
      {{ field }}
      {% include "includes/field_errors.html" with errors=field.errors only %}
    </div>
    {% endfor %}
    <button id="change-password" class="uk-button uk-button-primary uk-margin-top" type="submit">
      Change password
    </button>
  </div>
</form>
